body {
  font-family: "Lato";
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  background: url("/images/promo-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.button-language {
  border-radius: 2rem;
  height: 4rem;
  color: white;
  background: #fe4a49;
  border: 1px solid white;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Catamaran";
  font-weight: 800 !important;
}

h2 {
  margin: 3px 20px;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CardGroup {
  margin: 50px 40px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-items: center;
}

@media (max-width: 1060px) {
  .CardGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .CardGroup {
    grid-template-columns: repeat(1, 1fr);
  }
}
